.c3 img{
 width: 80%;
 height: 150px;
}
.c3 h1{
    font-size: 3rem;
}
.c3 p{
    font-size: 1.5rem;
}
.c4 img{
    width: 80%;
    height: 140px;
}
.c4 h1{
    font-size: 3rem;
}
.c4 p{
   font-size: 1.5rem;
}
.c2-historia h1{
    font-size: 3rem;
}
.c2-historia p{
    font-size: 1.6rem;
}