:root{
   --white: #FFFFFF;
   --black: #000000;
   --principal-color: #003399;
   --secundar-color: #4E4E4E;
   --lg: 18px;
   --md: 16px;
   --sm: 14px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;

}
header{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    width: 100vw;
    height: 40px;
    min-width: 320px;
    background-color:#FFFFFF;
    /* text-align: center; */
}
/* nav{

    display: flex;
    height: 40px;
    justify-content:space-between;
    padding: 0 24px;
    border-bottom: 4px solid var(--azul-logo);
    font-weight: bold;
    background-color: #FFFFFF;
} */
.menu{

    width: 22px;
    height: 32px;
    margin-bottom: 3px;
    margin-top: 2px;
    margin-left:3px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid var(--principal-color);
    
}
.menu:hover{
    background-color:darkgrey;
}
.logo{
    
    margin: auto;
    width: 30px;
    height: 30px;
    
}
ul{
    display: none;
}
.container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.c1{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #4E4E4E;
}
.c1 div{
    width: 90%;
    margin: auto;
    text-align: center;
}
.c1 h1{
    border-bottom: 3px solid #000000;
}
.c2, .c3{
    width: 50%;
    height: 100vh;
}
.c2{
    background-color: #003399;
}
.c3{
    background-color: aqua;
}
