:root{
   --white: #FFFFFF;
   --black: #000000;
   --principal-color: #003399;
   --secundar-color: #4E4E4E;
   --lg: 18px;
   --md: 16px;
   --sm: 14px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}
header{
    position: fixed;
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    width: 100vw;
    height: 40px;
    min-width: 320px;
    background-color:#FFFFFF;
    /* text-align: center; */
}
 /* nav{

    display: flex;
    height: 40px;
    justify-content:space-between;
    padding: 0 24px;
    border-bottom: 4px solid var(--azul-logo);
    font-weight: bold;
    background-color: #FFFFFF;
} */
.menu{

    width: 22px;
    height: 26px;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left:3px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid var(--principal-color);

}
.menu:hover{
    background-color:darkgrey;
}
.logo{

    margin: auto;
    width: 30px;
    height: 30px;

}
ul{
    display: none;
}
.container{
    width: 100vw;
    /* display: flex; */
    flex-wrap: wrap;
}
.c1{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assett/imagenes/imagen_home2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1 div{
    width: 90%;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-top: 80px; */
    text-align: center;
    color: var(--white);
}
.c1 h1{
    border-bottom: 3px solid var(--principal-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.c1 div img{
    width: 50%;

}
.c1 h1{
    font-size: 4rem;
    color: var(--principal-color);
    /* font-weight: bold; */
}
.c1 p{
    font-size: 2.5rem;
    color: var(--principal-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
/* .c2, .c3{
    width: 50%;
    height: 100vh;
} */
.c2{
    width: 100%;
    height: 100vh;
    background-color: #003399;
}
.c2-title{
    width: 100%;
    height: 40vh;
    
}
.c2 img{
    width:100%;
    height: 40vh;
}
.c2-historia{
    width: 100%;
    height: 60vh;
    padding: 15px;
    background-color: #003399;
    color: var(--white);
    text-align: center;
}
.c2-historia p{
    font-size: 1.8rem;
}
.c3{

    width: 100%;
    height: 55vh;
    padding: 15px;
    color: var(--principal-color);
    text-align: center;
}
.c3 img{
    width: 100%;
    height: 150px;
}
.c3 p{
    font-size: 1.8rem;
}
.c4{
    background-color: var(--principal-color);
    width: 100%;
    height: 45vh;
    padding: 15px;
    color: var(--white);
    text-align: center;
}
.c4 img{
    width: 100%;
    height: 120px;
}
.c4 p{
    font-size: 1.8rem;
}
 .title-servicios{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
}
.c5-service-container{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    gap: 26px;
    justify-items: center;
    place-content: center;

}

.service{
    width: 240px;
}

.service-img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.service-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    font-size: 1.23rem;
}

.service-info figure{
    margin: 0;
}
.service-info figure img{
    width: 35px;
    height: 35px;
}
.service-info figure img:hover{
    background-color: red;
    border-radius: 19px ;
}
.service-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
    margin-top: 0;
}

.c6{
    background-color: #003399;
    color: var(--white);
}
.title-clientes{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}
.c6-clientes{
    display: flex;
    height: 280px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: var(--principal-color);
}

.card-cliente img{
    position: relative;
    scroll-snap-align: center;
    width: 50vw;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 35px 10px 5px;
    padding: 20px 15px;
    background-color: var(--white);
    border-radius: 15px;
}
.c7{
    background-color: var(--principal-color);
    padding-bottom: 30px;
}
.title-contacto{
    margin: auto;
    /* margin-bottom: 20px; */
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2.5rem;
    color: var(--white);
    text-align: center;
}
.contacto{
    width: 90%;
    height: 420px;
    margin: auto;
    display: flex;
    background-color: var(--white);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    padding: 10px 10px;
    box-sizing: 10px;
}

.form-contact{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.form-contact label{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.form-contact input,
.form-contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: 1px solid var(--principal-color);
    border-bottom: 2px solid var(--principal-color);
    border-radius: 3px;
    font-size: 1.3rem;
}
.page-footer{
    width: 100%;
    height: 25vh;
    background-color: var(--principal-color);
    color: var(--white);
    padding: 0 30px;
}
.icons{
    width: 100%;
    height: 40px;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.icons-footer{
    width: 30px;
    height: 30px;
    margin: 5px;
}
.icons-footer:hover{
    width: 25px;
    height: 25px;
}
.direction{
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 3px solid var(--white);
}
.copyright{
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    list-style-type: none;
    justify-content: center;
    margin-top: 10px;
}
.copyright a{
    color: var(--white);
    text-decoration: none;
}
.copyright a:hover{
    color: red;
}


 /* @media (min-width: 600px){
    .c5-service-container{
        display: grid;
        margin: auto;
        justify-items: center;
        grid-template-columns: repeat(2, 240px)
        /* grid-template-columns: repeat(auto-fill, 320px);
        gap: 26px;
        justify-items: center;
        place-content: center; 

    }

}  */
/* Estilos de las pestana de fabricacion */
.c1-fabricacion{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assett/imagenes/fabricacion-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1-fabricacion div{
    width: 90%;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-top: 80px; */
    text-align: center;
    color: var(--white);
}
.c1-fabricacion div img{
    width: 50%;

}
.c1-fabricacion h1{
    font-size: 2rem;
    color: var(--principal-color);
    font-weight: bold;
}
.c2-fabricacion{
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    width: 100%;
    height: 100vh;
    

}
.c2-fabricacion h1{
    color: var(--white);
    margin: 0px 10px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 2px solid var(--white);
}
.c2-fabricacion p{
    color: var(--white);
    margin: 15px;
    font-size: 1.5rem;
}
.c2-fabricacion h2{
    color: var(--white);
    margin: 5px 15px;
}
.c2-fabricacion figure img{
    width: 70%;
    margin-left: 30px;
    margin-top: 10px;
    max-width: 225px;
    
}
.c2-fabricacion figure{
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

.maquinas{
    display: block;
    margin-left: 30px;
    color: var(--white);
}
.maquinas li{
    font-size: 1.5rem;
}

.c5-service-container-other{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 26px;
    justify-items: center;
    place-content: center;

}
/* Estilos pastana de Mantenimiento */
.c1-mantenimiento{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assett/imagenes/mantenimiento-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1-mantenimiento div{
    width: 90%;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-top: 80px; */
    text-align: center;
    color: var(--white);
}
.c1-mantenimiento div img{
    width: 50%;

}
.c1-mantenimiento h1{
    font-size: 2rem;
    color: var(--principal-color);
    font-weight: bold;
}
.c2-mantenimiento{
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    width: 100%;
    height: 100vh;
    

}
.c2-mantenimiento h1{
    color: var(--white);
    margin: 0px 10px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 2px solid var(--white);
}
.c2-mantenimiento p{
    color: var(--white);
    margin: 15px;
    font-size: 1.5rem;
}
.c2-mantenimiento h2{
    color: var(--white);
    margin: 5px 15px;
}
.c2-mantenimiento figure img{
    width: 70%;
    margin-left: 30px;
    margin-top: 10px;
    max-width: 225px;
    
}
.c2-mantenimiento figure{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}
/* Estilos pestaña Montajes */
.c1-montaje{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assett/imagenes/montajes-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1-montaje div{
    width: 90%;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-top: 80px; */
    text-align: center;
    color: var(--white);
}
.c1-montaje div img{
    width: 50%;

}
.c1-montaje h1{
    font-size: 2rem;
    color: var(--principal-color);
    font-weight: bold;
}
.c2-montaje{
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    width: 100%;
    height: 100vh;
    

}
.c2-montaje h1{
    color: var(--white);
    margin: 0px 10px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 2px solid var(--white);
}
.c2-montaje p{
    color: var(--white);
    margin: 15px;
    font-size: 1.5rem;
}
.c2-montaje h2{
    color: var(--white);
    margin: 5px 15px;
}
/* Estilos Pestaña de Mecanizados */
.c1-mecanizados{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(/assett/imagenes/mecanizados-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.c1-mecanizados div{
    width: 90%;
    margin: auto;
    /* margin-left: 10px; */
    /* margin-top: 80px; */
    text-align: center;
    color: var(--white);
}
.c1-mecanizados div img{
    width: 50%;

}
.c1-mecanizados h1{
    font-size: 2rem;
    color: var(--principal-color);
    font-weight: bold;
}
.c2-mecanizados{
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    width: 100%;
    height: 100vh;
    

}
.c2-mecanizados h1{
    color: var(--white);
    margin: 0px 10px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 2px solid var(--white);
}
.c2-mecanizados p{
    color: var(--white);
    margin: 15px;
    font-size: 1.5rem;
}
.c2-mecanizados h2{
    color: var(--white);
    margin: 5px 15px;
}